/* General styles for the curriculum list */



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffffe0;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
}

header {
    background-color: #f68a71;
    color: #fff;
    padding: 10px 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #0056b3;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* 左寄せに変更 */
}

.button-group {
    display: flex;
    flex-direction: column;
    width: 150px;
    /* 幅を小さく設定 */
    margin-right: 30px;
    /* 右側に余白を追加 */
}
.curriculum-list {
    display: flex;
    flex-direction: column;
}

ul.curriculum-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

ul.curriculum-list li:last-child {
    border-bottom: none;
}

ul.curriculum-list li a {
    text-decoration: none;
    color: #007bff;
}

ul.curriculum-list li a:hover {
    text-decoration: underline;
} 

.Elementary_sc {
    background-color: #00bfff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    display: block;
    text-decoration: none;
}

.Middle_sc {
    background-color: #6eee7b;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    display: block;
    text-decoration: none;
}
.High_sc {
    background-color: #04df1a;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    display: block;
    text-decoration: none;
}
